__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/
*.egg

myenv/


.vscode/


.ipynb_checkpoints/
*.ipynb

.pytest_cache/
.coverage



.dvc/cache/
.dvc/tmp/

data/
models_storage/
*.parquet
*.csv
*.pkl
*.joblib

*.log

Thumbs.db

.git/
.gitignore

Dockerfile
.dockerignore
docker-compose*.yml

*.md
!README.md

*.pdf

.env
.env.local

